#TouchPortalSpotifyPlugin
#Sun Feb 27 16:43:43 CET 2022
spotify.clientid=9119a54ec10541d7a47c29be6dbd1be8
plugin.discoveredDevices=PREINBOTH-DESKT\:SD\:d4bcf071f196813cfee992b1236c0d8485ee01db\:\:Web Player (Chrome)\:SD\:9d01ae90496634438d30b9aeca44fa81c973a709
states.updateInterval=12
image.size=128
spotify.oauthrefreshtoken=AQBWx3mdop8MdKtXJ7R-fYsKkShZiIn24yOak93dpO2oivJkfL_s4rz-hDBqUyHBcLnUGOXTbLd_LpQNSqAPqY1HCDS2dJiPfQjfr5oXH9SUFCxa_Jx6YVwqeZvyfsJY1hw
spotify.oauthaccestoken=BQAkXWc2YMfe7RnXtGch7usGexq2bW9MmjCwUP0YTJ-gvXhwSCWdJ3VLP83HgGB4H4dGf8XhdWLRhnHJyCfhMdww4-Qp0wJu7VR0D8iECm-unAhQYOqFNDMf4wUtVUL1oQcLswIjTeK31ta5KqLRJPmJlo6bM5WIrESRAojuJnDXIaqGeTcrzF8M1o7vIzSSQl_ZJhdXGA_9amtjDG30izTEKGFMHwI7kF5o3qYSZeW0ykfosv1TRjgT
spotify.clientsecret=8535126c2fe54dbda894b0eab9a2312e
